---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About me"
	description="Nice to meet you"
	pubDate={new Date('Juli 21 2024')}
>
	<p>
		👋 Hi, my name is Joël Grimberg
		<br />
		I am here to share my thoughts and experiences on DX and Automation with you.

        </p>

</Layout>
