---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
    (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
    <style>
        a {
            color: black;
            text-decoration: none;
        }
        a.hover-underline-animation {
            display: inline-block;
            position: relative;
        }

        .hover-underline-animation::after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 1px;
            bottom: 0;
            left: 0;
            background-color: #0087ca;
            transition: transform 0.08s ease-out;
        }

        .hover-underline-animation:hover::after {
            transform: scaleX(1);
        }

        .hover-underline-animation.left::after {
            transform-origin: bottom right;
        }

        .mr-8 {
            margin-right: 2rem;
        }

        .text-xl {
            font-size: 1.25rem;
            line-height: 1.75rem;
        }

        .font-medium {
            font-weight: 500;
        }
        .grey_rounded_div {
            display: block;
            border-radius: 3px;
            box-shadow: var(--box-shadow);
            background-color: #f0f0f0;
            margin-right: 18rem;
            margin-left: 18rem;
            bottom: 0;
            left: 1;
            right: 0;
            z-index: 10;
            border-radius: 0.5rem;
        }
    </style>

    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />

    <body>
        <Header />
        <main>
            <p>
                Hi, I'm Joël Grimberg.
                <br /><br />
                I am here to share my thoughts and experiences on DX and Automation
                with you.

                <br /><br />

                If you want to get in contact, feel free to reach out via
                LinkedIn or Twitter.
            </p>
        </main>
        <span class="mr-8 text-xl font-medium">
            <div class="grey_rounded_div">
                Featured Blog Post: <br />
                <a
                    class="hover-underline-animation"
                    href={`/blog/${posts[posts.length - 1].slug}`}
                >
                    <img
                        width={360}
                        height={180}
                        src={posts[posts.length - 1].data.heroImage}
                        alt=""
                    />

                    <br />

                    {posts[posts.length - 1].data.title}
                </a>
            </div>
        </span>
        <Footer />
    </body>
</html>
