---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Uses"
	description=""
  pubDate={new Date('Juli 21, 2024')}
	heroImage="/blog-placeholder-about.jpg"
>        <h3>Editor & Terminal</h3>
	<ul>
		<li><a href=https://www.lazyvim.org target="_blank">LazyVim</a></li>
                <li><a href=https://www.chezmoi.io target="_blank">Chezmois</a> - this is how I manage my <a href=https://github.com/joelgrimberg/dotfiles target="_blank">dotfiles</a></li>
		<li><a href=https://sw.kovidgoyal.net/kitty target="_blank">Kitty</a></li>
		<li><a href=https://github.com/tmux/tmux/wiki target="_blank">Tmux</a></li>
	</ul>
	
	<h3>Services</h3>
	
	<ul>
		<li><a href=https://pages.github.com target="_blank">Github Pages</a> - where I host joelgrimberg.nl</li>
		<li><a href=https://www.digitalocean.com/ target="_blank">DigitalOcean</a> - where I host my own copy of <a href=https://once.com>Once</a> </li>
		<li><a href=https://transip.nl/ target="_blank">TransIP</a> - where I buy my domains</li>
	</ul>

	<h3>Desktop Apps</h3>

	<ul>
		<li><a href='https://www.raycast.com/' target="_blank">Raycast</a></li>
		<li><a href='https://1password.com' target="_blank">1Password</a></li>
		<li><a href='https://github.com/2ndalpha/gasmask' target="_blank">GasMask</a></li>
		<li><a href='https://www.omnigroup.com/omnifocus/' target="_blank">OmniFocus</a></li>
		<li><a href='https://cleanshot.com/' target="_blank">CleanshotX</a></li>
		<li><a href='https://obsproject.com/' target="_blank">OBS Studio</a></li>
		<li><a href='https://zen-browser.app/' target="_blank">Zen Browser</a></li>

	</ul>
	<h3>CLI's</h3>

	<h2>My Office</h2>

	<ul>
		<li><a href=# target="_blank">I currently use a 2021 14" Macbook Pro M1 with 32BG ram, 1TB drive</a></li>

	</ul>

	<h3>Desk Setup</h3>
	<ul>
		<li><a href='https://www.lg.com/nl/monitoren/ultrafine-uhd-4k-5k-monitoren/32ud89-w/?srsltid=AfmBOopmIa5GrX1joXKzeg1mPfm4vuJSROJRMFxf9FitPfHqtHrOi08h' target="_blank">LG 32UD89-W</a></li>
		<li><a href='https://www.ikea.com/nl/nl/p/rodulf-bureau-zit-sta-electrisch-wit-s59530328/' target="_blank">Ikea Standing Desk</a></li
		<li><a href='https://secretlab.eu/products/titan-evo-2022-series?sku=M07-E24PU-STELH1R' target="_blank">Secretlab Titan Evo Chair</a></li>
		<li><a href='https://shop.thatstraw.me/en-eur/products/vim-cheatsheet-desk-mat' target="_blank">VIM cheatsheet desk mat</a></li>
	</ul>
	<h3>Audio</h3>
	<ul>
		<li><a href='https://rode.com/en/microphones/broadcast/procaster' target="_blank">Rode Procaster</a></li>
		<li><a href='https://rode.com/en/accessories/stands-bars/psa1' target="_blank">Rode PSA1 mic arm</a></li>
                <li><a href='https://audient.com/products/audio-interfaces/id14/overview/' target="_blank">Audient ID14 MK2</a></li>
		<li><a href='https://dbxpro.com/en/products/286s' target="_blank">dbx286s preamp</a></li>
		<li><a href='https://www.cloudmicrophones.com/cloudlifter-cl-z' target="_blank">Cloudlifter Z for extra mic boost</a></li>
		<li><a href='https://www.bax-shop.nl/sony-mdr-7506' target="_blank">Sony mdr-7506 headphones</a></li>
		<li><a href='https://www.adam-audio.com/en/t-series/t5v/' target="_blank">Adam Audio T5V active studio monitor</a></li>
	</ul>

        <h3>Video</h3>

	<ul>
                <li><a href='https://www.logitech.com/nl-be/products/webcams/brio-4k-hdr-webcam.960-001106.html?srsltid=AfmBOoofHT7nFrg6CHdb4Fefo_KBbZ454FPQJoKyOKxYLpUgZ8Lbf6-0'>Logitech Brio HD Pro</a></li>
	        <li><a href='https://www.elgato.com/ww/en/p/ring-light' target="_blank">Elgato Ring Light</a></li>
		<li><a href='https://www.elgato.com/ww/en/p/light-strip-pro' target="_blank">Elgato Light Strip Pro</a></li>
<li><a href='https://elgato.com/ww/en/p/green-screen-xl'>Elgato Green Screen</a></li>
	</ul>

	<h3>Peripherals</h3>

	<ul>
		<li><a href='https://drop.com/buy/drop-alt-v2-mechanical-keyboard?defaultSelectionIds=981282%2C981284' target="blank">Drop Alt 65% Mechanical Keyboard</a></li>
		<li><a href='https://www.elgato.com/ww/en/p/stream-deck-mk2-black' target="_blank">Elgato Stream Deck MK.2</a></li>
		<li><a href='https://www.logitech.com/nl-nl/products/mice/mx-master-3s.910-006559.html?srsltid=AfmBOopgCWqpXCc8eOu6M1bVFT_nj3KwXNvwkpKXT_ca0t5ky4jl9g3F' target="_blank">Logitech MX Master 3</a></li>

	</ul>

	<h3>On the Go</h3>

	<ul>

		<li><a href='https://www.anker.com/eu-en/products/a1340-250w-power-bank?ref=naviMenu&variant=43763112476862' target="_blank">Anker Prime 27.650mAh 250W powerbank</a></li>
		<li><a href='https://www.sony.nl/headphones/products/wf-1000xm4' target="_blank">Sony WF-1000XM4</a></li>
		<li><a href='https://www.sony.nl/electronics/koptelefoon/wh-1000xm3' target="_blank">Sony WH-1000XM3</a></li>
		<li><a href='https://www.anker.com/eu-en/products/a2148?ref=naviMenu&variant=42129607360702' target="_blank">Anker 737 120W Charger</a></li>
		<li><a href=# target="_blank">Bag: </a></li>
		<li><a href='https://eu.peakdesign.com/products/tech-pouch' target="_blank">Peak Desigb tech pouch</a></li>
        </ul>

	<h2>Other</h2>

	<ul>
		<li><a href='https://www.sonos.com/en/shop/arc-black' target="_blank">Sonos Arc Soundbar - because it resonates</a></li>
		<li><a href='https://www.delonghi.com/nl-nl/de-longhi-eletta-explore-ecam450-65-s-volautomatische-espressomachine/p/ECAM450.65.S' target="_blank">Delonghi Elatta Explore Coffee Machine</a></li>
		<li><a href='https://www.wifishop.nl/p/ubiquiti-unifi-6-lite-indoor-wifi-6-11ax-access-point-70557' target="_blank">Ubiquiti Unifi 6 Lite</a></li>
		<li><a href=# target="_blank">Samsung The Frame</a></li>
	</ul>

	<h3>Health</h3>

	<ul>
		<li><a href='https://ouraring.com/product/rings/heritage/stealth' target="_blank">Oura Ring Gen 3 Heratige Stealth</a></li>
		<li><a href='https://www.garmin.com/nl-BE/p/866191' target="_blank">Garmin Fenix 7 Pro Sapphire Solar Edition</a></li>
		<li><a href='https://www.garmin.com/nl-BE/p/679362' target="_blank">Garmin Index S2 Smart Scale</a></li>
		<li><a href='https://drinkag1.com/en-eu?slug=homepage&slug=044' target="_blank">AG 1 travel packs</a></li>

	</ul>

        <h3>Organising</h3>

	<h3>Reading</h3>

	<h3>Podcasts</h3>
</Layout>
